*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: purple;
}

.container{
    max-width: 1440px;
    margin: 30px auto;
    width: 80%;
}

/*Utilities*/

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

.mt-2{
    margin-top: 2rem;
}

.p-05{
    padding: 0.5rem;
}

.p-2{
    padding: 2rem;
}

/*Main*/
.cell{
    border: 1px white solid;
    width: calc(100%/10);
    aspect-ratio: 1 / 1;
}